.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 100vw;
    overflow: hidden;
    margin: 0 auto;
}

body {
    width: 100%;
    background-image: url(../Vizicard/images/optimize.jpeg);
    text-align: center;
    font-family: Montserrat;
}

.wrapper-header-a {
    margin-top: 75px;
}

.header-ul {
    text-shadow: 0 0 6px aliceblue;
    font-size: 18px;
}

.wrapper-header-a-link {
    background-color: rgb(68 112 199);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
}


#myself {
    border: 2px;
    border-radius: 37px;
    box-shadow: 0 0 10px 10px;
}

#about {
    display: flex;
    list-style-image: url(../Vizicard/images/done_black_24dp.svg);
    backdrop-filter: contrast(0.5);
    border-radius: 10px;
    color: black;
}

.wrapper-header-link:hover {
    background-color: rgb(146, 211, 211);
    transition: width 0.5s;
}

h1 {
    font-size: 300%;
    margin: 40px;
    text-shadow: -1px 1px 1px #fff;
    color: rgb(11, 17, 11);
    transition: 1s;
}


h1:hover {
    transform: scale(1.2);
    color: goldenrod;
}

h2 {
    margin-left: 18px;
    font-size: 30px;
    backdrop-filter: contrast(0.5);
    border-radius: 10px;
    color: black;
}

.wrapper-main {
    display: flex;
    align-items: center;
}



.wrapper-main-why-stive {
    color: rgb(7, 53, 56);
}

.about-me {
    list-style: none;
}

.wrapper-main-aboutme {
    margin-left: 150px;
    text-shadow: -5px -4px 6px white;
}

.wrapper-main-why {
    backdrop-filter: contrast(0.3);
    border-radius: 10px;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}


.footer {
    box-sizing: content-box;
    margin: 10px 5px 25px 5px;
}

#gmail,
#yandex {
    border-radius: 13px;
}